<div class="card bg-dark text-white">
    <img class="card-img" src="/rede.png" alt="Card image">
    <div class="card-img-overlay">
        <h1 class="card-title">Planejamento financeiro</h1>
        <h2 class="card-text ">Agora você irá montar uma estratégia para melhor investir o dinheiro para a sua
            viagem.</h2>
    </div>
</div>
<div class="container_">
    <h2 style="color: #ff5a00; margin-left: 1%; ">Olá,{{nome}}</h4>
        <div class="menu">
            <div class='card'>
                <div class='card-body'>
                    <h3>Saldo de milhas</h3>
                    <h1 style="color: #ff5a00">0</h1>
                </div>
            </div>
        </div>
        <div class="conteudo">
            <div class='card' style="width: 99%;">
                <div class='card-body'>
                    <h1 style="color: #ff5a00 ">Investimentos para a sua viagem</h1><br>
                    <h4>Você já iniciou um grande passo no planejemanto da sua viagem, que é definir seus custos.
                        Confira abaixo os aportes mensais necessários para voce realizar o seu sonho:
                        <h4 /><br>
                        <div class="table-responsive ">
                            <table class="table ">
                                <table class="table table-sm ">
                                    <thead>
                                        <tr>
                                            <th scope="col ">Investimento</th>
                                            <th scope="col ">Aporte</th>
                                            <th scope="col ">Valor</th>
                                            <th scope="col ">Data</th>
                                            <th scope="col ">Milhas</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>1</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/04/2021</td>
                                            <td>500</td>


                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>2</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/05/2021</td>
                                            <td>800</td>


                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>3</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/06/2021</td>
                                            <td>1000</td>


                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>4</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/07/2021</td>
                                            <td>1200</td>


                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>5</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/08/2021</td>
                                            <td>1400</td>


                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>6</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/09/2021</td>
                                            <td>1600</td>


                                        <tr>
                                            <td></td>
                                            <td>7</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/10/2021</td>
                                            <td>1700</td>


                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>8</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/11/2021</td>
                                            <td>1800</td>


                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>9</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/12/2021</td>
                                            <td>1900</td>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>10</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/01/2022</td>
                                            <td>2000</td>


                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>11</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/02/2022</td>
                                            <td>2500</td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>12</td>
                                            <td>R$ 2000.00</td>
                                            <td>01/03/2022</td>
                                            <td>3000</td>
                                            <td></td>

                                        </tr>

                                        <thead></thead>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>R$ 24000.00</td>
                                            <td></td>
                                            <td>19400</td>
                                            <td></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                </div>
                <h5 style="margin-left:1%">*Regras: 1) As milhas serão geradas no momento em que for processado o
                    depósito. 2) As milhas só serão geradas caso o depósito tenha sido realizado até a data agendada 3)
                    Caso ocorra retirada de dinheiro da conta, as milhas deixarão de ser geradas, porém as missões
                    extras continuarão disponíveis
                </h5>
            </div>


        </div>
        <div class="card" style="width: 99%; margin-left: 1%; margin-top:1%; margin-bottom:1%">
            <div class="card-body">
                <div class="text-center">
                    <h1 style="color: #ff5a00 ">Missões extras</h1><br>
                    <h2>Reservando os seguintes itens com antecedência, utilizando suas milhas, você planeja melhor a
                        sua viagem, garante o
                        melhor preço,e ainda recebe Milesback!</h2><br>
                    <div>
                        <img style="width: 200px;" class="card-img" src="/icon_plan.png" alt="Card image">
                        <img style="width: 200px;" class="card-img" src="/icon_hotel.png" alt="Card image">
                        <img style="width: 200px;" class="card-img" src="/icon_car.png" alt="Card image">
                        <img style="width: 200px;" class="card-img" src="/icon_health.png" alt="Card image">
                        <img style="width: 200px;" class="card-img" src="/icon_tourism.png" alt="Card image">
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 99%; margin-left: 1%; margin-top:1%; margin-bottom:1%">
            <div class="card-body">
                <div class="text-center">
                    <h1 style="color: #ff5a00 ">Carteira digital Smiles</h1><br>
                    <h2>Investindo na carteira digital da Smiles, além de garantir a rentabilidade de 100% do CDI, você
                        pode acumular milhas e realizar missões para receber MilesBack!</h2><br>
                    <a style="height: 60px; width:10%  mt-4" class="btn-smiles" href="http://localhost:8080/carteira"
                        role="button">Iniciar missão!</a>
                </div>
            </div>
        </div>