<div class='card' style="margin-left:40%; margin-top: 10%; width:20%;">
    <div class='card-body'>
        <h3 style="color: #ff5a00">Pague com QR Code</h3><br>
        <img width="100%" src="/qrcode.png">
    </div>
</div>