

<form>
    <div style="width: 70%; margin-left: 15%; margin-top:5%; margin-bottom:1%" class='card'>
        <div class='card-body'>
            <div style="margin-top: 1%;" class="row">
                <h1 style="color: #ff5a00">Escolha do destino</h1>
            </div>
            <div class="row">
                <h2 class="card-text ">Nos conte mais sobre os seus planos e suas preferências</h2>
            </div>
            <div style="margin-top: 5%;" class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Origem">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Destino">
                </div>
            </div>
            <div style="margin-top: 1%;" class="row">
                <div class="col">
                    <label>Check-in</label>
                    <input class="form-control" type="date" id="example-date-input">
                </div>
                <div class="col">
                    <label>Check-out</label>
                    <input class="form-control" type="date" id="example-date-input">
                </div>
                <div class="col">
                    <label>Adultos</label>
                    <input class="form-control" type="number" placeholder="Adultos" value="2">
                </div>
                <div class="col">
                    <label>Crianças</label>
                    <input class="form-control" type="number" placeholder="Crianças" value="0">
                </div>
                <div class="col">
                    <label>Bebês</label>
                    <input class="form-control" type="number" placeholder="Bebês" value="0">
                </div>
                <div class="col">
                    <label>Animais</label>
                    <input class="form-control" type="number" placeholder="Animais" value="0">
                </div>
            </div>
            <div style="margin-top: 5%; margin-bottom: 3%;" class="text-center">
                <a style=" width:100%  " class="btn-smiles" href="http://localhost:8080/planejar" role="button">Começar</a>
            </div>
        </div>
    </div>





</form>