<div class="card bg-dark text-white">
    <img class="card-img" src="/rede.png" alt="Card image">
    <div class="card-img-overlay">
        <h1 style="color: #ff5a00;" class="card-title">Bem vindo a carteira Smiles!</h1>
        <h2 class="card-text ">A carteira que rende milhas e paga Milesback!</h2>
    </div>
</div>

</div>
<div class="card text-center">
    <div class="card-body">

       
        <p class="lead">Consiste em uma aplicação Web, que deverá ser integrada ao site da Smiles já existente, no qual
            servirá como ferramenta de planejamento de custos de viagem e também permitirá com que o usuário organize um
            fluxo de investimento na carteira digital da Smiles, permitindo que ele possa além de receber rendimentos
            comuns de uma carteira digital, um rendimento em milhas e também uma nova modalidade de compra idealizada
            por nós que seria o MilesBack, inspirada no cashback porém utilizando milhas, onde ao comprar produtos em
            milhas, o usuário pode receber milhas de volta.
        </p>
        <p class="lead">O fluxo de investimento foi planejado para que o usuário respeite uma linha cronológica ideal
            para planejar a sua viagem, com: comprar voo com 6 meses de antecedência, reservar o hotel com 4 meses de
            antecedência, contratar seguro viagem, alocar dinheiro para presentes etc.</p>

        <p class="lead">O intuito dessa ferramenta é propor uma curadoria completa na viagem do usuário, onde ele possa
            utilizar ao máximo o uso das suas milhas, mas sem esquecer da utilização do dinheiro que também é importante
            na viagem, com a carteira Smiles, tanto o dinheiro como as milhas do cliente podem ser concentradas em um
            único local, garantindo a fidelização do cliente, e mantendo um rendimento atrativo para o público, afinal
            qual carteira propõem rendimento em dinheiro e além disso oferece recompensa em milhas?</p>

        <p class="lead">Portanto, concluímos que essa ferramenta além de promover a educação financeira do usuário,
            ensina o usuário a como melhor planejar dua viagem, garante rendimentos atrativos, e estimula o hábito de
            poupar.</p>
        <hr class="my-4">
        <p class="my-4">
            <a class="btn-smiles" href="http://localhost:8080/login" role="button">Entrar</a> ou
            <a class="btn-smiles" href="http://localhost:8080/cadastro" role="button">Cadastre-se</a>
        </p>

    </div>
</div>