




<div class="card bg-dark text-white">
    <img class="card-img" src="/rede.png" alt="Card image">
    <div class="card-img-overlay">
        <h1 style="color: #ff5a00;" class="card-title">Custos da viagem</h1>
        <h2 class="card-text ">Primeiro você deve definir seus custos com a viagem</h2>
    </div>
</div>

<form>
    <div style="width: 70%; margin-left: 15%; margin-top:5%; margin-bottom:1%" class='card'>
        <div class='card-body'>
            <h3 style="color: #ff5a00">Hospedagem</h3>
            <h5>A hospedagem é um dos principais itens no planejamento da sua viagem e deve ser sempre visto com
                antecedência, uma boa estratégia é contratar reservar com cancelamento grátis e pagamento no hotél, isso
                permite com que você garanta a sua vaga, tenha a liberdade de cancelar caso ocorra algum imprevisto, e
                pode deixar o seu dinheiro rendendo na carteira da Smiles até o início da sua hospedagem</h5>
            <h5>Confira abaixo algumas opções de hospedagem que selecionamos para você:</h5>
            <div style="margin-top: 5%;" class="row">

                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/hotel3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Red Roof inn</h5>
                            <p class="card-text">Welcome to Red Roof Miami We are just one mile away from
                                the International Airport (MIA). We are near Miami Beach, South Beach, Grapeland Water
                                Park and Miami Seaquarium and Dolphin Mall.
                            </p>
                            <h3>R$ 3000.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card mb-3">
                        <img class="card-img-top" src="/hotel1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mercury Miami</h5>
                            <p class="card-text">Welcome to Mercury Miami We are just one mile away from
                                the International Airport (MIA). We are near Miami Beach, South Beach, Grapeland Water
                                Park and Miami Seaquarium and Dolphin Mall.
                            </p>
                            <h3>R$ 3500.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/hotel2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bourbon Miami</h5>
                            <p class="card-text">Welcome to Bourbon Miami We are just one mile away from
                                the International Airport (MIA). We are near Miami Beach, South Beach, Grapeland Water
                                Park and Miami Seaquarium and Dolphin Mall.
                            </p>
                            <h3>R$ 4100.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5>Agora escolha um valor que representa o quanto você está disposto a pagar pela sua hospedagem:
                    </h5>
                     <input id="hotel" class="form-control" type="number" name="usuario" required>
                </div>
            </div>

        </div>
    </div>

    <div style="width: 70%; margin-left: 15%; margin-top:1%; margin-bottom:1%" class='card'>
        <div class='card-body'>
            <h3 style="color: #ff5a00"> Voo</h3>
            <h5>O voo é também um item muito importante para o seu planejamento, e irá ocupar boa parte do seu
                orçamento, portanto atente-se as melhores oportunidades e compre sempre com antecedência. Para tornar a
                viagem ainda mais econômica, utilize milhas Smiles. Confira abaixo as opçoes que recomendamos para você:
            </h5>
            <div style="margin-top: 5%;" class="row">

                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/gol.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gol</h5>
                            <p class="card-text">Ida: Sex 01 ABR</p>
                            <p class="card-text">CGH 6h15 - MIA 14h55</p>
                           <p class="card-text">Volta: Dom 10 ABR</p>
                            <p class="card-text">MIA 21h55 - CGH 11h00</p>
                            <h3>R$ 15200.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card mb-3">
                        <img class="card-img-top" src="/gol.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gol</h5>
                            <p class="card-text">Ida: Sex 01 ABR</p>
                            <p class="card-text">CGH 6h15 - MIA 14h55</p>
                            <p class="card-text">Volta: Dom 10 ABR</p>
                            <p class="card-text">MIA 21h55 - CGH 11h00</p>
                            <h3>R$ 14900.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/gol.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gol</h5>
                            <p class="card-text">Ida: Sex 01 ABR</p>
                            <p class="card-text">CGH 6h15 - MIA 14h55</p>
                            <p class="card-text">Volta: Dom 10 ABR</p>
                            <p class="card-text">MIA 21h55 - CGH 11h00</p>
                            <h3>R$ 8100.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5>Agora escolha um valor que representa o quanto você está disposto a pagar pelo seu voo:
                    </h5>
                     <input id="voo" class="form-control" type="number" name="usuario" required>
                </div>
            </div>

        </div>
    </div>




    <div style="width: 70%; margin-left: 15%; margin-top:1%; margin-bottom:1%" class='card'>
        <div class='card-body'>
            <h3 style="color: #ff5a00"> Translado</h3>
            <h5>Reservar dinheiro para o translado e o tranporte em geral é muito importante para a sua viagem, pois
                trata-se de um custo variável, que pode tornar sua viagem mais cara se não for planejado. Confira abaixo
                algumas opções que selecionamos para você:</h5>
            <div style="margin-top: 5%;" class="row">

                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/uber_logo.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Uber</h5>
                            <p class="card-text">Trajeto hotel-aeroporto ída e volta</p>
                            <h3>R$ 300.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card mb-3">
                        <img class="card-img-top" src="/uber_logo.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Uber</h5>
                            <p class="card-text">Trajeto hotel-aeroporto ída</p>
                            <h3>R$ 170.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/uber_logo.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Uber</h5>
                            <p class="card-text">Trajeto hotel-aeroporto volta</p>
                            <h3>R$ 130.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5>Agora escolha um valor que representa o quanto você está disposto a pagar pelo seu translado:
                    </h5>
                     <input id="translado" class="form-control" type="number" name="usuario" required>
                </div>
            </div>

        </div>
    </div>



    <div style="width: 70%; margin-left: 15%; margin-top:1%; margin-bottom:1%" class='card'>
        <div class='card-body'>
            <h3 style="color: #ff5a00"> Seguro-viagem</h3>
            <h5>Reservar dinheiro para o translado e o tranporte em geral é muito importante para a sua viagem, pois
                trata-se de um custo variável, que pode tornar sua viagem mais cara se não for planejado. Confira abaixo
                algumas opções que selecionamos para você:</h5>
            <div style="margin-top: 5%;" class="row">

                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/seguro_viagem.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mundo</h5>
                            <p class="card-text">Seguro viagem e assistência médica</p>
                            <h3>R$ 300.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card mb-3">
                        <img class="card-img-top" src="/seguro_viagem.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mundo compacto</h5>
                            <p class="card-text">Seguro viagem e assistência médica</p>
                            <h3>R$ 170.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/seguro_viagem.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mundo prestige</h5>
                            <p class="card-text">Seguro viagem e assistência médica</p>
                            <h3>R$ 130.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5>Agora escolha um valor que representa o quanto você está disposto a pagar pelo seu seguro-viagem:
                    </h5>
                     <input id="seguroViagem" class="form-control" type="number" name="usuario" required>
                </div>
            </div>

        </div>
    </div>

    <div style="width: 70%; margin-left: 15%; margin-top:1%; margin-bottom:1%" class='card'>
        <div class='card-body'>
            <h3 style="color: #ff5a00"> Carro</h3>
            <h5>A reserva de um carro lhe permite maior liberdade para se locomover, e dependendo do destino, pode ser
                conveniente caso o transporte público for escasso, uma solução também seria utilizar suas milhas na
                Uber, porém se optar por um carro, confira a lista de recomedação que fizemos para você:</h5>
            <div style="margin-top: 5%;" class="row">

                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/carro1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">A CHEVROLET SPARK </h5>
                            <p class="card-text">KM Livre</p>
                            <h3>R$ 1642.81</h3>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="card mb-3">
                        <img class="card-img-top" src="/carro2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">B FORD FOCUS </h5>
                            <p class="card-text">KM Livre</p>
                            <h3>R$ 1734.08</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/carro3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">MUSTANG CONVERTIBLE </h5>
                            <p class="card-text">Grupo STAR Standard Convertible</p>
                            <h3>R$ 2218.94</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5>Agora escolha um valor que representa o quanto você está disposto a pagar pelo aluguel do carro:
                    </h5>
                     <input id="carro" class="form-control" type="number" name="usuario" required>
                </div>
            </div>

        </div>
    </div>

    <div style="width: 70%; margin-left: 15%; margin-top:1%; margin-bottom:1%" class='card'>
        <div class='card-body'>
            <h3 style="color: #ff5a00"> Outros</h3>
            <h5>É importante se atentar também a outros pequenos gastos que no final das contas podem se tornar grandes
                gastos! Portanto defina os seus gastos com: Documentação (Visto, vacinas etc.), presentes para os
                familiares, compras no qual você pretende fazer, alimentação, transporte público etc. Agora escolha um
                valor que representa o quanto você está deverá gastar com esses itens:</h5>

             <input id="outros" class="form-control" type="number" name="usuario" required>

            <div>
                <a style="width: 100%;  margin-top:1%" class="btn-smiles" href="http://localhost:8080/calcular"
                    role="button">Próximo</a>
            </div>

        </div>
    </div>












</form>