<div class="card" style="width: 30%; margin: 6% 33%;">
    <div class="card-body">
        <div class="text-center">
        <h2>Recuperar a senha</h2>
        <p>Digite seu email para que lhe seja enviada uma nova senha.</p>
        </div><br>
        <form action="/senha" method="POST">
            <div class="mb-3">
                <input class="form-control" type="text" name="email" placeholder="Por favor digite o email cadastrado" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn-smiles" style="width: 100%;">Enviar</button>
            </div>

        </form>
    </div>
</div>