#header{
    width: 100%;    
}
.btn-smiles{
    font-weight: normal;
    padding: 0 20px 0;
    height: 40px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    border-radius: 3px;
    font-family: nunito-regular, nunitoregular, arial, sans-serif;
    align-items: center;
    border-bottom: 0 !important;
    background: #7c7c7c;
    color: #fff;
    background-color: #663399 !important;
    border-color: #663399 !important;
}

.container_ { 
    display: table; 
    margin-top: 1%;
}
.menu { 
    float: left; width: 25%;
    margin-left: 1%;
}
.conteudo { 
    margin-left: 30%;
}

.fundo{
    background-color: rgb(220, 226, 231);
}

.contorno{
    font-family: Helvetica;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.contorno2{
    font-family: Helvetica;
    color: #ff5a00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    
}
